{% extends 'base.html.twig' %}

{% block stylesheets %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ asset('persuit/img/fav-icon.png') }}" type="image/x-icon"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Persuit</title>

    <!-- Icon css link -->
    <link href="{{ asset('persuit/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('persuit/vendors/line-icon/css/simple-line-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('persuit/vendors/elegant-icon/style.css') }}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{{ asset('persuit/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Rev slider css -->
    <link href="{{ asset('persuit/vendors/revolution/css/settings.css') }}" rel="stylesheet">
    <link href="{{ asset('persuit/vendors/revolution/css/layers.css') }}" rel="stylesheet">
    <link href="{{ asset('persuit/vendors/revolution/css/navigation.css') }}" rel="stylesheet">

    <!-- Extra plugin css -->
    <link href="{{ asset('persuit/vendors/owl-carousel/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ asset('persuit/vendors/bootstrap-selector/css/bootstrap-select.min.css') }}" rel="stylesheet">
    <link href="{{ asset('persuit/vendors/vertical-slider/css/jQuery.verticalCarousel.css') }}" rel="stylesheet">

    <link href="{{ asset('persuit/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('persuit/css/responsive.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset('https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js') }}"></script>
    <script src="{{ asset('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') }}"></script>
    <![endif]-->
{% endblock %}



{% block content %}


        {#<div class="best_summer_banner">#}
        {#<img class="img-fluid" src="{{ asset('persuit/img/banner/summer-banner.jpg') }}" alt="">#}
        {#<div class="summer_text">#}
        {#<h3>Best Summer Collection </h3>#}
        {#<p>There is no one who loves to be bread, who looks after it and wants to have it, simply because it#}
        {#is#}
        {#pain.</p>#}
        {#<a class="add_cart_btn" href="#">shop now</a>#}
        {#</div>#}
        {#</div>#}
        {#<div class="latest_product_3steps">#}
        {#<div class="s_m_title">#}
        {#<h2>Our Latest Product</h2>#}
        {#</div>#}
        {#<div class="l_product_slider owl-carousel">#}
        {#<div class="item">#}
        {#<div class="l_product_item">#}
        {#<div class="l_p_img">#}
        {#<img src="{{ asset('persuit/img/product/l-product-9.jpg') }}" alt="">#}
        {#<h5 class="sale">Sale</h5>#}
        {#</div>#}
        {#<div class="l_p_text">#}
        {#<ul>#}
        {#<li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>#}
        {#<li><a class="add_cart_btn" href="#">Add To Cart</a></li>#}
        {#<li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>#}
        {#</ul>#}
        {#<h4>Womens Libero</h4>#}
        {#<h5>#}
        {#<del>$45.50</del>#}
        {#$40#}
        {#</h5>#}
        {#</div>#}
        {#</div>#}
        {#<div class="l_product_item">#}
        {#<div class="l_p_img">#}
        {#<img src="{{ asset('persuit/img/product/l-product-10.jpg') }}" alt="">#}
        {#</div>#}
        {#<div class="l_p_text">#}
        {#<ul>#}
        {#<li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>#}
        {#<li><a class="add_cart_btn" href="#">Add To Cart</a></li>#}
        {#<li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>#}
        {#</ul>#}
        {#<h4>Oxford Shirt</h4>#}
        {#<h5>$85.50</h5>#}
        {#</div>#}
        {#</div>#}
        {#<div class="l_product_item">#}
        {#<div class="l_p_img">#}
        {#<img src="{{ asset('persuit/img/product/l-product-11.jpg') }}" alt="">#}
        {#</div>#}
        {#<div class="l_p_text">#}
        {#<ul>#}
        {#<li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>#}
        {#<li><a class="add_cart_btn" href="#">Add To Cart</a></li>#}
        {#<li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>#}
        {#</ul>#}
        {#<h4>Oxford Shirt</h4>#}
        {#<h5>$85.50</h5>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="item">#}
        {#<div class="l_product_item">#}
        {#<div class="l_p_img">#}
        {#<img src="{{ asset('persuit/img/product/l-product-12.jpg') }}" alt="">#}
        {#<h5 class="new">New</h5>#}
        {#</div>#}
        {#<div class="l_p_text">#}
        {#<ul>#}
        {#<li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>#}
        {#<li><a class="add_cart_btn" href="#">Add To Cart</a></li>#}
        {#<li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>#}
        {#</ul>#}
        {#<h4>Travel Bags</h4>#}
        {#<h5>#}
        {#<del>$45.50</del>#}
        {#$40#}
        {#</h5>#}
        {#</div>#}
        {#</div>#}
        {#<div class="l_product_item">#}
        {#<div class="l_p_img">#}
        {#<img src="{{ asset('persuit/img/product/l-product-13.jpg') }}" alt="">#}
        {#<h5 class="sale">Sale</h5>#}
        {#</div>#}
        {#<div class="l_p_text">#}
        {#<ul>#}
        {#<li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>#}
        {#<li><a class="add_cart_btn" href="#">Add To Cart</a></li>#}
        {#<li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>#}
        {#</ul>#}
        {#<h4>High Heel</h4>#}
        {#<h5>#}
        {#<del>$130.50</del>#}
        {#$110#}
        {#</h5>#}
        {#</div>#}
        {#</div>#}
        {#<div class="l_product_item">#}
        {#<div class="l_p_img">#}
        {#<img src="{{ asset('persuit/img/product/l-product-14.jpg') }}" alt="">#}
        {#</div>#}
        {#<div class="l_p_text">#}
        {#<ul>#}
        {#<li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>#}
        {#<li><a class="add_cart_btn" href="#">Add To Cart</a></li>#}
        {#<li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>#}
        {#</ul>#}
        {#<h4>High Heel</h4>#}
        {#<h5>#}
        {#<del>$130.50</del>#}
        {#$110#}
        {#</h5>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="item">#}
        {#<div class="l_product_item">#}
        {#<div class="l_p_img">#}
        {#<img src="{{ asset('persuit/img/product/l-product-15.jpg') }}" alt="">#}
        {#</div>#}
        {#<div class="l_p_text">#}
        {#<ul>#}
        {#<li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>#}
        {#<li><a class="add_cart_btn" href="#">Add To Cart</a></li>#}
        {#<li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>#}
        {#</ul>#}
        {#<h4>Summer Dress</h4>#}
        {#<h5>$45.05</h5>#}
        {#</div>#}
        {#</div>#}
        {#<div class="l_product_item">#}
        {#<div class="l_p_img">#}
        {#<img src="{{ asset('persuit/img/product/l-product-16.jpg') }}" alt="">#}
        {#<h5 class="sale">Sale</h5>#}
        {#</div>#}
        {#<div class="l_p_text">#}
        {#<ul>#}
        {#<li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>#}
        {#<li><a class="add_cart_btn" href="#">Add To Cart</a></li>#}
        {#<li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>#}
        {#</ul>#}
        {#<h4>Fossil Watch</h4>#}
        {#<h5>$250.00</h5>#}
        {#</div>#}
        {#</div>#}
        {#<div class="l_product_item">#}
        {#<div class="l_p_img">#}
        {#<img src="{{ asset('persuit/img/product/l-product-17.jpg') }}" alt="">#}
        {#<h5 class="sale">Sale</h5>#}
        {#</div>#}
        {#<div class="l_p_text">#}
        {#<ul>#}
        {#<li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>#}
        {#<li><a class="add_cart_btn" href="#">Add To Cart</a></li>#}
        {#<li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>#}
        {#</ul>#}
        {#<h4>Fossil Watch</h4>#}
        {#<h5>$250.00</h5>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="item">#}
        {#<div class="l_product_item">#}
        {#<div class="l_p_img">#}
        {#<img src="{{ asset('persuit/img/product/l-product-18.jpg') }}" alt="">#}
        {#<h5 class="sale">Sale</h5>#}
        {#</div>#}
        {#<div class="l_p_text">#}
        {#<ul>#}
        {#<li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>#}
        {#<li><a class="add_cart_btn" href="#">Add To Cart</a></li>#}
        {#<li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>#}
        {#</ul>#}
        {#<h4>Nike Shoes</h4>#}
        {#<h5>#}
        {#<del>$130</del>#}
        {#$110#}
        {#</h5>#}
        {#</div>#}
        {#</div>#}
        {#<div class="l_product_item">#}
        {#<div class="l_p_img">#}
        {#<img src="{{ asset('persuit/img/product/l-product-19.jpg') }}" alt="">#}
        {#</div>#}
        {#<div class="l_p_text">#}
        {#<ul>#}
        {#<li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>#}
        {#<li><a class="add_cart_btn" href="#">Add To Cart</a></li>#}
        {#<li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>#}
        {#</ul>#}
        {#<h4>Ricky Shirt</h4>#}
        {#<h5>$45.05</h5>#}
        {#</div>#}
        {#</div>#}
        {#<div class="l_product_item">#}
        {#<div class="l_p_img">#}
        {#<img src="{{ asset('persuit/img/product/l-product-20.jpg') }}" alt="">#}
        {#</div>#}
        {#<div class="l_p_text">#}
        {#<ul>#}
        {#<li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>#}
        {#<li><a class="add_cart_btn" href="#">Add To Cart</a></li>#}
        {#<li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>#}
        {#</ul>#}
        {#<h4>Ricky Shirt</h4>#}
        {#<h5>$45.05</h5>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}

        {#<div class="feature_box_area">#}
        {#<div class="row m0">#}
        {#<div class="col-lg-6">#}
        {#<div class="f_add_item white_add">#}
        {#<div class="f_add_img"><img class="img-fluid" src="{{ asset('persuit/img/feature-add/f-add-8.jpg') }}" alt="">#}
        {#</div>#}
        {#<div class="f_add_hover">#}
        {#<h4>Best Summer <br>Collection</h4>#}
        {#<a class="add_btn" href="#">Shop Now <i class="arrow_right"></i></a>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-lg-6">#}
        {#<div class="f_add_item white_add">#}
        {#<div class="f_add_img"><img class="img-fluid" src="{{ asset('persuit/img/feature-add/f-add-9.jpg') }}" alt="">#}
        {#</div>#}
        {#<div class="f_add_hover">#}
        {#<h4>Best Summer <br>Collection</h4>#}
        {#<a class="add_btn" href="#">Shop Now <i class="arrow_right"></i></a>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}







{% endblock %}

{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('persuit/js/jquery-3.2.1.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('persuit/js/popper.min.js') }}"></script>
    <script src="{{ asset('persuit/js/bootstrap.min.js') }}"></script>
    <!-- Rev slider js -->
    <script src="{{ asset('persuit/vendors/revolution/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('persuit/vendors/revolution/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script src="{{ asset('persuit/vendors/revolution/js/extensions/revolution.extension.actions.min.js') }}"></script>
    <script src="{{ asset('persuit/vendors/revolution/js/extensions/revolution.extension.video.min.js') }}"></script>
    <script src="{{ asset('persuit/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
    <script src="{{ asset('persuit/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
    <script src="{{ asset('persuit/vendors/revolution/js/extensions/revolution.extension.navigation.min.js') }}"></script>
    <script src="{{ asset('persuit/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
    <!-- Extra plugin css -->
    <script src="{{ asset('persuit/vendors/counterup/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('persuit/vendors/counterup/jquery.counterup.min.js') }}"></script>
    <script src="{{ asset('persuit/vendors/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('persuit/vendors/bootstrap-selector/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('persuit/vendors/image-dropdown/jquery.dd.min.js') }}"></script>
    <script src="{{ asset('persuit/js/smoothscroll.j') }}s"></script>
    <script src="{{ asset('persuit/vendors/isotope/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('persuit/vendors/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('persuit/vendors/magnify-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('persuit/vendors/vertical-slider/js/jQuery.verticalCarousel.js') }}"></script>
    <script src="{{ asset('persuit/vendors/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('persuit/js/theme.js') }}"></script>
{% endblock %}